.App{
  max-width: 600px;
  margin: 0 auto;
}/* 
form div{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(2, 1fr);
}
form{
  display: grid;
  width: 60%;
}
label{
  grid-area: 2/1/3/2;
}
input{
  width: 100%;
  justify-self: center;
  margin-bottom: 1em;
  grid-area: 2/2/3/3;
}
.msgDiv{
  grid-template-columns: 1fr;
}
.msgDiv label{
  grid-area: 1/1/2/2;
}
textarea{
  grid-area: 2/1/3/3;
  
}
button{
  justify-self: right;
  margin-top: 1em;
}
span{
  grid-area: 1/2/2/3;
} */